:root {
  background-color: black;
  color: white;
}

.result {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.show {
  visibility: visible;
}