:root {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.result {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  margin-top: 4rem;
}

.show {
  visibility: visible;
}